@import "animate.css/animate.min.css";
@import "animate.css/animate.min.css";
// @import "fullpage.js/dist/jquery.fullpage.min.css";
// @import 'owl.carousel/dist/assets/owl.carousel.min.css';
@import "owl.min.css";
@import "fonts";
@import "variables";
@import "typography";
@import "elements";
* {
  box-sizing: border-box;
}
.hidden-mobile {
  display: none;
}
body {
  &.unscrollable {
    overflow: hidden;
  }
}
.disable-fp {

  body {
    overflow: scroll !important;
  }

  #fp-nav {
    display: none;
  } 
}

#hero {
  background: #fff;
  overflow: visible;
}

.hero-content-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  @media screen and (max-width: 760px) {
    height: auto;
    overflow-y: visible;
  }
  &.unscrollable {
    overflow-y: visible;
  }
}
.phone-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  .phone{
    width: 336px;
    max-width: 100%;
    img{
      width: 100%;
    }
  }
}
.main-hero {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  @media screen and (max-width: 760px) {
    padding: 0;
  }

  .appstore-icon {
    margin-top: 60px;
    @media screen and (max-width: 760px) {
      margin-top: 40px;
    }
  }

  .hero-logo {
    margin-top: 45px;
    @media screen and (min-width: 760px) and (max-width: 1400px) {
      margin-top: 0;
    }
  }

  .hero-text{
    // padding-left: 20px;
    margin-top: 100px;
    @media screen and (max-width: 1400px){
      margin-top: 60px;
    }
  }

  .scrolldown-btn {
    margin-top: 145px;
    @media screen and (max-width: 1400px) {
      margin-top: 90px;
    }
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
}

.subhero {
  height: 101%;
  max-height: 101vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .phone-block {
    // position: relative;
    position: absolute;
    top: -85px;
    left: inherit;
    max-height: 633px;
    transform: none;
  }
}

.hero-logo {
  width: 140px;
  height: 175px;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.hero-text {
  text-align: center;
  font-size: 50px;
  font-family: 'GothamProBold';
  line-height: 55px;
  @media screen and (max-width: 760px) {
    font-size: 38px;
    line-height: 40px;
  }

  .underlined {
    &:after {
      bottom: 0.15em;
    }
  }
}

.main-phone-block { 
  display: none;
}

.bottom-phone-block {
  display: none;
}
.phone-block{
  @media screen and (max-width: 900px) {
    display: none !important;
  }
}
.bottom-section-content-wrapper {
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  @media screen and (max-width: 760px) {
    height: auto;
    max-height: 100000px;
    overflow-y: visible;
  }

  &.unscrollable {
    overflow-y: visible;
  }
  
  .phone-block {
    position: absolute;
  }

  .section-content {
    height: 100%;
    background-color: #fff;
    position: relative;
  }
}

.main-padding {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  @media screen and (max-width: 760px) {
    padding: 50px 30px;
  }
}

.section-content {
  display: flex;
  height: 100%;
  @media screen and (max-width: 760px) {
    flex-direction: column;
    height: auto;
  }

  &.grey {
    background: #e8e8e8;
  }

  .section-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 100%;

    .section-logo {
      width: 215px;
      height: 50px;
      position: relative;
      @media screen and (max-width: 760px) {
        display: none;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .info-block {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    .section-logo-wrapper {
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
    .content {
      max-width: 280px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 auto;
      @media screen and (min-width: 760px) and (max-width: 1400px){
        margin-right: 25%;
      }
      @media screen and (max-width: 760px) {
        text-align: center;
        width: 100%;
        align-items: center;
      }

      h2 {
        font-family: "GothamProBold";
        font-size: 50px;
        margin-bottom: 55px;
        @media screen and (max-width: 760px) {
          width: 100%;
          font-size: 36px;
          margin-bottom: 28px;
          line-height: 40px;
        }
      }

      h3 {
        font-family: "GothamProMedium";
        font-size: 22px;
        line-height: 28px;
      }

      img {
        margin-top: 50px;
      }
    }
  }
  .image-block {
    flex: 1 1 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    @media screen and (max-width: 760px) {
      min-width: 100%;
      min-height: 320px;
    }
    form {
      max-width: 270px;
      color: #ffffff;
      margin: 0 auto;
      @media screen and (min-width: 900px) and (max-width: 1400px) {
        margin-left: 170px;
      }
      @media screen and (max-width: 760px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: 50px 30px;
        max-width: 100%;
      }

      h2 {
        font-family: "GothamProBold";
      }

      h3 {
        font-family: "GothamProMedium";
        font-size: 22px;
        margin-bottom: 35px;
        @media screen and (max-width: 760px) {
          font-family: "GothamPro";
          font-size: 16px;
          margin-bottom: 48px;
        }
      }
      input{
        margin-bottom: 10px;
      }

      img {
        margin-top: 50px;
      }

      button {
        text-transform: uppercase;
        font-family: "GothamPro";
        line-height: 23px;
        @media screen and (max-width: 760px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

//twitter section
.twitter-content-wrapper {
  width: 100%;
  height: 100%;
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 90px;
  }

  .twitter-content-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 75px;

    h3 {
      color: #131313;
      margin: 0;
      margin-bottom: 35px;
      line-height: 1;
    }

    p {
      color: #585858;
      line-height: 1;
      margin: 0;
    }
  }

  .twitter-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .twitter-item {
    height: 180px;
    width: 290px;
    margin: 25px 0;
    margin-right: 30px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    .content {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      padding: 15px;
      height: 117px;
      font-family: "GothamPro";
      font-size: 14px;
      color: #131313;
      margin-bottom: 15px;
      position: relative;

      &:after {
        content: '';
        width: 0;
        height: 0;
        line-height: 0;
        border-bottom: 20px solid transparent;
        border-left: 18px solid #fff;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: -20px;
        left: 66px;
      }

      .grey {
        color: #8f8f8f;
      } 
    }

    .info {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      .avatar {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .about {
        font-size: 14px;
        line-height: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: #797979;

        .name {
          font-family: "GothamProMedium";
          margin-bottom: 8px;
        }

        .time {
          font-family: "GothamPro";
        }
      }
    }
  }
}
// footer
footer {
  background-color: #2d2d2d;
}
.footer-col-logo-wrapper{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}
.footer-col-logo{
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0.33;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  &.large{
    width: 90px;
    height: 45px;
  }
  &.tall{
    height: 70px;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.footer-content {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2d2d2d;
  color: #ffffff;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  @media screen and (max-width: 760px) {
    padding: 0;
  }
}
.footer-col{
  max-width: 290px;
  // @media screen and (max-width: 760px) {
  //   margin: 0 auto;
  // }
  // margin-right: 30px;
}
.footer-col-heading, .footer-col-link{
  font-family: "GothamProMedium";
  line-height: 30px;
  margin-bottom: 10px;
}
.footer-col-heading{
  font-size: 22px;
  color: #e8e8e8;
  cursor: pointer;
  &:hover{
    color: #fff;
  }
}
.footer-col-link{
  font-size: 14px;
  color: #ccc;
  a{
    color: #ccc;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
}
.footer-col-desc {
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin-bottom: 10px;
}
.footer-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 160px;
  flex-flow: wrap;
  @media screen and (max-width: 600px) {
    justify-content: space-around;
  }
  .nav-items{
    order: 2;
    @media screen and (min-width: 375px) and (max-width: 600px) {
      margin: 0 30px;
    }
    @media screen and (max-width: 600px) {
      order: 3;
      margin-top: 45px;
    }
  }
  .share-items{
    order: 3;
    @media screen and (max-width: 600px) {
      order: 2;
    }
  }
  .social-items{
    order: 1;
  }
}
.social-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 25px;
  .social-item{
    height: 25px;
    width: 25px;
    margin-right: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      svg{
        path{
          fill: #fff;
        }
      }
    }
    svg{
      height: 100%;
      width: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.nav-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 25px;
  .nav-item{
    font-family: 'ProximaNova';
    font-size: 14px;
    color: #727272;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    &:hover{
      color: #fff;
      &:after{
        color: #727272;
      }
    }
    &:after{
      content: '.';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:last-child{
      padding: 0;
      margin: 0;
      &:after{
        display: none;
      }
    }
  }
}
.share-items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 25px;
  .share-item{
    cursor: pointer;
    max-width: 50px;
    width: auto;
    height: 18px;
    margin-left: 5px;
    display: flex;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.desktop-only{
  @media screen and (max-width: 760px) {
    display: none !important;
  }
}
.mobile-only{
  @media screen and (min-width: 760px) {
    display: none !important;
  }
}