.phone-block {
  position: fixed;
  width: 400px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  @media screen and (max-width: 760px) {
    display: none;
  }
  .phone {
    height: 100%;
    background-image: url('../images/iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    .phone-content {
      background-image: url('../images/iphone-screen-1.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 46%;
      &.section_1 {
        background-image: url('../images/iphone-screen-1.jpg');
      }
      &.section_2 {
        background-image: url('../images/iphone-screen-2.jpg');
      }
      &.section_3 {
        background-image: url('../images/iphone-screen-3.jpg');
      }
      &.section_4 {
        background-image: url('../images/iphone-screen-4.jpg');
      }
      &.section_5 {
        background-image: url('../images/iphone-screen-5.jpg');
      }
    }
  }
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 30;
  &.active {
    display: block;
  }
}

.appstore-icon{
  height: 40px;
  width: 140px;
  &.big{
    height: 55px;
    width: 180px;
  }
}

.arrowdown-icon{
  height: 10px;
  width: 15px;
}
.square-btn{
  width: 260px;
  height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  color: #fff;
  border-radius: 3px; 
  font-size: 16px;
  font-family: 'GothamPro';
  transition: all 0.5s ease;
  &:hover{
    filter: brightness(95%);
  }
  &.blue{
    background: #5c9cf5;
  }
  &.red{
    background: linear-gradient(to top, #ff6e56, #ff5963);
  }

}
input{
  height: 50px;
  width: 260px;
  border: 0;
  border-radius: 3px;
  outline: none;
  font-family: 'GothamPro';
  font-size: 18px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #525252;
}
#fp-nav {
  ul li a.active {
    span {
      margin: 0;
      background-color: #EA6C58;
      height: 8px !important;
      width: 8px !important;
    }
  }
  ul li{
    margin: 0;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul li a span {
    background-color: #96969D;
    width: 8px;
    height: 8px;
    margin: 0;
  }
}
.owl-dots{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .owl-dot{
    margin-right: 20px;
    background-color: #96969D;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    &:last-child{
      margin-right: 0;
    }
  }
  .active{
    background-color: #EA6C58;
  }
}