@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot') format('eot'), 
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), 
	     url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Regular.svg') format('svg');
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot') format('eot'), 
	     url('../fonts/ProximaNova-Light.woff') format('woff'), 
	     url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Light.svg') format('svg');
}

@font-face {
	font-family: 'GothamProMedium';
	src: url('../fonts/GothamPro-Medium.eot') format('eot'), 
	     url('../fonts/GothamPro-Medium.woff') format('woff'), 
	     url('../fonts/GothamPro-Medium.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}


@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.eot') format('eot'), 
	     url('../fonts/GothamPro.woff') format('woff'), 
	     url('../fonts/GothamPro.ttf')  format('truetype'),
	     url('../fonts/GothamPro.svg#GothamPro') format('svg');
}


@font-face {
	font-family: 'GothamProBold';
	src: url('../fonts/GothamPro-Bold.eot') format('eot'), 
	     url('../fonts/GothamPro-Bold.woff') format('woff'), 
	     url('../fonts/GothamPro-Bold.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}
