@import "variables";
@import "fonts";
$underline-color: $blush-red;
.underlined {
  position: relative;
  display: inline-block;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0.15em;
    left: -.15em;
    width: calc(100% + .3em);
    height: 0.2em;
    background: $underline-color;
  }
}

h1, h2, h3{
  margin: 0;
  line-height: 1;
  font-family: "GothamProBold";
}
h2 {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 50px;
  @media screen and (max-width: 760px) {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 28px;
  }
}
h3{
  font-size: 36px;
  line-height: 40px;
}
h4{
  font-family: "GothamProMedium";
  font-size: 22px;
  line-height: 28px;
}
p{
  font-family: "GothamPro";
  font-size: 16px;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}